 /* Responsive layout */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
/* Responsive layout */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
/* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
    background: #87CEFA;
    color: #00bfff
  }
  
/* Header*/
  .header {
    padding: 100px;
    font-weight: bold;
    text-align: center;
    background: #87CEFA;
    color: #00bfff;
    }
   
/* Sticky navbar  */
  .navbar {
    overflow: hidden;
    background-color: #1e90ff;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #6495ed;
    color: white;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #666;
    color: white;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    color: #FFFFFF;
    padding: 20px;
  }

/* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; }

  /* Footer */
  .footer {
  	padding: 10px;
    text-align: center;
    background: white;
  }
